<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetbluedataanalytics" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JetBlue Data Analytics"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashScreen"
            android:label="JetBlue Data Analytics"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegionsActivity"
            android:label="JetBlue Data Analytics"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".QueryActivity"
            android:label="JetBlue Data Analytics"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="JetBlue Data Analytics"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".FlightDataActivity"
            android:label="JetBlue Data Analytics"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".PreferencesActivity"
            android:label="JetBlue Data Analytics"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>



    </application>

</manifest>
